.textfield .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.textfield label {
  color: var(--slate500Color);
  font-weight: 500;
}

.textfield .form-control {
  outline: none;
  border: 1px solid var(--slate500Color40);
  box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
  border-radius: 8px;
  height: 40px !important;
  color: var(--slate700Color);
  font-size: 12px;
  padding: 0.475rem 0.95rem !important;
}

.textfield .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--primaryColor);
}

.textfield input:focus {
  border-color: var(--primaryColor);
}

.textfield .paddingforIcon {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.textfield .paddingforIcon-sm {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.textfield .form-icon {
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9;
}

.textfield .form-icon-eye {
  position: absolute;
  top: 22px;
  bottom: 0;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9;
}

.required::after {
  content: "*";
  margin-left: 2px;
  color: #ed3339;
}

.material-textfield {
  position: relative;
}

.subfix-box {
  background: #e9ecef;
  border: 1px solid #d3d6d9;
  border-radius: 0px 5px 5px 0px;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--slate500Color) !important;
}